body{
    background-color: bisque;
}
div .col-2{
    background-color: darksalmon;
}
div .col-10{
    background-color:bisque;
    height: max-content;
}
.link{
    text-decoration: none;
    color: black;
}
div .card{
    border-color: black;
}